{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}



  {% if rows -%}
    <section id="faq" class="standardpad">
      <div class="container content-tween">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="mb-4 pb-2 content-tween-item">Frequently Asked Questions</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row content-tween">
          <div class="col-12 col-lg-8 mx-auto fixedoverflowcontainerfaq content-tween-item">
            <div class="fixedoverflowcover">
              <div class="nav nav-pills nav-fill navcontcover">

                {# removing duplicate entries and preparing bootstrap tab header #}
                {% set active_clss='active' %}
                {% for grp_row in rows %}

                  {% set perv_val='' %}
                  {% set count=0 %}

                  {% for row in grp_row['#rows'] %}

                    {% if count > 0 %}
                      {% set active_clss='' %}
                    {% endif %}

                    {% if perv_val != row['#row']._entity.field_faq_c.entity.tid.value %}
                      {% set perv_val = row['#row']._entity.field_faq_c.entity.tid.value %}

                      {#                      {{ dump(row['#row']._entity.field_faq_c.entity.tid.value) }} #}

                      <a class="nav-item nav-link {{ active_clss }}" data-toggle="tab"
                         href="#{{ row['#row']._entity.field_faq_c.entity.name.value|striptags|trim|replace({' ': ''}) }}"> {{ row['#row']._entity.field_faq_c.entity.name.value }}</a>

                    {% endif %}

                    {% set count = 1+count %}

                  {% endfor %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
        {#        header tab ends #}
        {#        all tab content #}
        <div class="row mt-4 pt-lg-2">
          <div class="col-12 col-lg-8 mx-auto text-left">
            <div class="tab-content">
              {# single tab content #}
              {{ rows }}
              {# single tab content ends #}
            </div>
          </div>
        </div>
        {#        all tab content ends #}


      </div>

    </section>
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
